<h1 class="display-4">Ideias Compartilhadas</h1>

<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-12">
        <%= image_tag idea.picture_url(:thumb) if idea.picture.present? %>
        <h4><%= link_to idea.name, idea %></h4>
        <%= raw truncate(idea.description,
                         :length => 200) %>
        <%= link_to 'Continuar lendo ...', idea %>
      </div>
    <% end %>
  </div>
<% end %>
